<h1>Registro</h1>

<div class="auth-container">
  <h2>Registrar</h2>
  <form action="/register" method="post">

    <div class="form-control">
      <label for="name">Nome:</label>
      <input type="text" name="name" placeholder="Digite seu nome" />
    </div>
    <div class="form-control">
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="Digite seu E-mail" />
    </div>
    <div class="form-control">
      <label for="password">Senha:</label>
      <input type="password" name="password" placeholder="Digite sua senha" />
    </div>
    <div class="form-control">
      <label for="confirmpassword">Confirme sua Senha:</label>
      <input
        type="password"
        name="confirmpassword"
        placeholder="Confirme sua senha"
      />
    </div>
    <input type="submit" value="Cadastrar" />
    <p>ja tem conta? <a href="#">Clique aqui!</a></p>

  </form>
</div>