<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pensador</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav id="navbar">
      <a href="/" id="logo">
        <img src="/img/logo.png" alt="Logo Pensador" />
      </a>

      <ul>
        <li>
          <a href="/">Pensamentos</a>
        </li>
        <li>
          <a href="/login">Entrar</a>
        </li>
        <li>
          <a href="/register">Registrar</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      {{!-- //criando as flashsmessages --}}
      {{#if messages.message }}
      <div class="message">
        {{messages.message}}
      </div>
      {{/if}}
      {{{body}}}
    </div>


    <footer>
      <p><span>Pensador</span>&copy;2023</p>
    </footer>
  </body>
</html>